.team-info {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.team-logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.team-details, .league-info, .coach-info, .area-info {
    margin: 20px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: #004b87;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flag {
    max-width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Grundläggande styling för teamet */
.team-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .team-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .team-header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* Player card layout */
  .player-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .player-info {
    text-align: left;
  }
  
  .player-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .player-position {
    font-size: 1.2rem;
    font-style: italic;
    color: #777;
  }
  
  .player-details p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .player-details strong {
    color: #333;
  }
  
  /* Styling för att hålla korten i en centrerad layout */
  .player-card:nth-child(even) {
    background-color: #f1f1f1;
  }
